<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
 
    <p>
      <label for="firstname">First Name </label>
      <input type="text" id="firstname" name="firstname" formControlName="firstname">
    </p>

   
    <p>
      <label for="email">Email </label>
      <input type="text" id="email" name="email" formControlName="email">
    </p>
   
    <p>
      <label for="gender">Gender </label>
      <input type="radio" value="male" id="gender" name="gender" formControlName="gender"> Male
      <input type="radio" value="female" id="gender" name="gender" formControlName="gender"> Female
    </p>
   

   
    <p>
      <label for="country">country </label>
      <select id="country" name="country"  formControlName="country">
        <option>India</option>
        <option>Australia</option>
        <option>England</option>
        <option>NewZealand</option>
        
      </select>
    </p>
   
    <p>
      <button type="submit">Submit</button>
    </p>
   
  </form>

  <table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Gender</th>
        <th>Country</th>
    </tr>
    <tr *ngFor = "let detail of details">
      <td>{{detail.firstname}}</td>
      <td>{{detail.email}}</td>
      <td>{{detail.gender}}</td>
      <td>{{detail.country}}</td>

    </tr>
  </table>